{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block content %}
  <h2 class="mb-5">User Data</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Email</th>
        <th scope="col">Authenticated</th>
        <th scope="col">Anonymous</th>
      </tr>
    </thead>
    <tbody>
      <tr scope="row">
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.is_authenticated}}</td>
        <td>{{user.is_anonymous}}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}