* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.main {
  width: 70%;
  padding: 2rem 4rem;
}

.main-header {
  margin-bottom: 4rem;
}

.main-header h1 {
  font-weight: 700;
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 3px solid #e3f2fd;
}

.main-header a {
  color: #000;
}

.main-content {
  width: 70%;
  margin: auto;
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background: #e3f2fd;
  padding: 0 1rem;
  width: 30%;
}

.list-questions li {
  padding: 1rem 0;
  margin-bottom: 1.5rem;
}

.list-questions li  a {
  color: #0d47a1;
  font-size: 1.3rem;
}

.form-control {
  padding: 1rem;
}

.form-control input,
.form-control label {
  vertical-align: middle;
}

.form-control input {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

.form-control label {
  font-size: 1.35rem;
  margin: 0;
  padding: 0;
}

.btn-submit {
  display: block;
  background: #2196f3;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: .75rem 1.5rem;
  border: none;
  outline: none;
  margin-left: auto;
  margin-top: 4rem;
}

.error-message {
  background: #ffcdd2;
  color: #b71c1c;
  padding: 1rem;
}

.title {
  line-height: 3rem;
  color: #0d47a1;
  margin-bottom: 3rem;
}

.results {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.results li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
  height: 250px;
  padding: 0 1rem;
}

.results li:nth-child(odd) {
  background: #e3f2fd;
}

.results li p {
  font-size: 1.3rem;
  text-align: center;
}

.results li span {
  font-size: 3rem;
  font-weight: bold;
}

.total-votes {
  margin-top: 2rem;
}

.total {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.sidebar-paragraph {
  text-align: center;
  width: 85%;
  margin: auto;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
}