<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Polls App</title>
  {% load static %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="container">
    <main class="main">
      <header class="main-header">
        <h1>Polls App</h1>
      </header>
      <div class="main-content">
        {% block main %}{% endblock %}
      </div>
    </main>
    <aside class="sidebar">
      {% block sidebar %}{% endblock %}
    </aside>
  </div>
</body>
</html>