{% extends 'base.html' %}
{% load static %}

{% block container %}
  {% if questions %}  
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 list-group">
          {% for q in questions %}
            <a class="list-group-item list-group-item-action link-primary" href="{% url 'detail' q.id %}">
              {{q.question_text}}
            </a>
          {% endfor %}
        </div>
        <div class="col-md-5 sidebar">
          <img src="{% static 'images/home.svg' %}" alt="My image">
        </div>
      </div>
    </div>
    {% else %}
    <p>No polls are available.</p>
  {% endif %}
{% endblock %}