{% extends "store/base.html" %}

{% block main %}
  <div class="p-3 mb-2 bg-success text-white text-center">
    <h1 class="display-5">Purchased</h1>
  </div>

  <div class="container mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Payment ID</th>
          <th scope="col">Price</th>
          <th scope="col">Product</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for p in payments %}
          <tr scope="row">
            <td>{{p.id}}</td>
            <td>{{p.payment_id}}</td>
            <td>{{p.price}}</td>
            <td>{{p.product.title}}</td>
            <td>
              <a href="{% url 'shop:detail_pay' p.id%}" class="btn btn-warning btn-sm">Detail</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}