<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>Purchased</h1>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Payment ID</th>
          <th>Price</th>
          <th>Product</th>
        </tr>
      </thead>
      <tbody>
        {% for p in payments %}
          <tr>
            <td>{{p.id}}</td>
            <td>{{p.payment_id}}</td>
            <td>{{p.price}}</td>
            <td>{{p.product}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</body>
</html>