<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop</title>
</head>
<body>
  <form>
    <input type="text" name="search">
    <button type="submit">Search</button>
  </form>
  {% for p in products %}
    {{ p }}
    <a href="{% url 'shop:detail' p.id %}">Go</a>
    <a href="{% url 'shop:detail' p.url_clean %}">Go Slug</a>
  {% endfor %}
</body>
</html>